<h2>Monitor</h2>
<div class="data-area">

    <mat-checkbox #CBsuccess (change)="onCBChangeValue($event)">
    </mat-checkbox>
    <span>Passed</span>
    <mat-checkbox #CBfailed (change)="onCBChangeValue($event)">
    </mat-checkbox>
    <span>Failed</span>
    <!-- <mat-checkbox [formControlName]="i" [aria-label]="data.declarations[i].name"
            [ngClass]="{ checkboxError: getChecks().controls[i].status == 'INVALID' }"
            (change)="changeDeclarationValue(i)">
          </mat-checkbox> -->


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
</ng-container> -->

        <ng-container matColumnDef="id">
            <th class="rightText" mat-header-cell *matHeaderCellDef>
                ID
            </th>
            <td class="rightText" mat-cell *matCellDef="let element">
                {{ element.id }}
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th class="rightText" mat-header-cell *matHeaderCellDef>
                Name
            </th>
            <td class="rightText" mat-cell *matCellDef="let element">
                {{ element.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="average">
            <th class="rightText" mat-header-cell *matHeaderCellDef>
                average
            </th>
            <td class="rightText" mat-cell *matCellDef="let element">
                {{ element.average }}
            </td>
        </ng-container>

        <ng-container matColumnDef="exams">
            <th class="rightText" mat-header-cell *matHeaderCellDef>
                exams
            </th>
            <td class="rightText" mat-cell *matCellDef="let element">
                {{ element.exams }}
            </td>
        </ng-container>

        <!-- <ng-container matColumnDef="subject">
            <th class="rightText" mat-header-cell *matHeaderCellDef>
                subject
            </th>
            <td class="rightText" mat-cell *matCellDef="let element">
                {{ element.subject }}
            </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
            (click)="onSelect(row)" class="clickable">
        </tr> -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [ngClass]="{'low-average': row.average < 65, 'high-average': row.average >= 65}">
        </tr>
    </table>

    <!-- <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
        aria-label="Select page of students">
    </mat-paginator> -->
</div>