<h2>Data</h2>
    <div class="data-area">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th class="rightText" mat-header-cell *matHeaderCellDef>
                    ID
                </th>
                <td class="rightText" mat-cell *matCellDef="let element">
                    {{ element.id }}
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th class="rightText" mat-header-cell *matHeaderCellDef>
                    Name
                </th>
                <td class="rightText" mat-cell *matCellDef="let element">
                    {{ element.name }}
                </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th class="rightText" mat-header-cell *matHeaderCellDef>
                    date
                </th>
                <td class="rightText" mat-cell *matCellDef="let element">
                    {{ element.date }}
                </td>
            </ng-container>

            <ng-container matColumnDef="grade">
                <th class="rightText" mat-header-cell *matHeaderCellDef>
                    grade
                </th>
                <td class="rightText" mat-cell *matCellDef="let element">
                    {{ element.grade }}
                </td>
            </ng-container>

            <ng-container matColumnDef="subject">
                <th class="rightText" mat-header-cell *matHeaderCellDef>
                    subject
                </th>
                <td class="rightText" mat-cell *matCellDef="let element">
                    {{ element.subject }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
                (click)="onSelect(row)" class="clickable">
            </tr>
        </table>

        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
            aria-label="Select page of students">
        </mat-paginator>
    </div>
    
