.details-area {

    // width: 50%;
    /* Adjust width as needed */
    padding: 20px;
    border-left: 1px solid #ccc;
    height: 100%;

    .table {
        display: grid;
        line-height: 40px;
        white-space: nowrap;

        .bold { 
            color: salmon;
            
            font-weight: 800;
        }
    }
}