<div class="details-area">
    <h2>details</h2>
    <div *ngIf="student" class="table">
        <div><span class="bold">id:</span> {{student.id}}</div>
        <div><span class="bold">name:</span> {{student.name}}</div>
        <div><span class="bold">date:</span> {{student.date}}</div>
        <div><span class="bold">grade:</span> {{student.grade}}</div>
        <div><span class="bold">subject:</span> {{student.subject}}</div>
        <div><span class="bold">email:</span> {{student.email}}</div>
        <div><span class="bold">address:</span> {{student.address}}</div>
        <div><span class="bold">city:</span> {{student.city}}</div>
        <div><span class="bold">country:</span> {{student.country}}</div>
        <div><span class="bold">zip:</span> {{student.zip}}</div>
    </div>
    
    <!-- {{selected_student_id}} -->
</div>