<div class="container">
    <div style="width: 50%; padding: 0 20px;">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input type="text" matInput #input (input)="onFilterChange($event)" placeholder="'ID:# or >#'">
        </mat-form-field>
        <button mat-button (click)="addStudent()">Add</button>
        <button mat-button (click)="removeStudent()">Remove</button><app-student-grid></app-student-grid>
    </div>
    <div>
        <app-student-details></app-student-details>
    </div>


    <!-- <app-monitor></app-monitor> -->
</div>