/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, h2 {
    text-decoration: underline;
}

nav {
    .mdc-button__label {
        text-decoration: none;
        color: sandybrown !important;
        padding: 5px 10px;
    }
}